.CircleBtn {
    --size: 85px;
}

.CircleBtn {
    background: rgb(224, 224, 224);
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
}

.CircleBtn > * {
    max-height: var(--size);
    max-width: var(--size);
}

.CircleBtn--rotate {
    transform: rotate(180deg);
}
