<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page9</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page9.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page9">
    <div class="PageText91">
        АДРЕСА
    </div>

    <div class="Line">
        <div class="Line-bottom">_________</div>
    </div>

    <div class="PageText92">
        <div class="PageText92-left">Магазины</div>
        <div class="PageText92-right">Офисы</div>   
    </div>

    <div class="Map">
        <img src="../../assets/icon/PNG/MapGroup.png" alt="Map">   
    </div>

</div>

</body>

</html>