<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page9</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page9.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page9">
    <div class="PageText91">
        АДРЕСА
    </div>

    <div class="Line">
        <div class="Line-bottom">_________</div>
    </div>

    <div class="PageText92">
        <div class="PageText92-left">Магазины</div>
        <div class="PageText92-right">Офисы</div>   
    </div>

    <div class="BoxMap helper">
        <div class="BoxMap-menuL">
            <div class="BoxMenuMap">
                <div class="Dropdown">
                    <div class="Dropdown-btn">
                        <div class="BtnMenuMap">
                            Санкт-Петербург
                        </div>
                    </div>
                    <div class="Dropdown-content">
                        <div class="List">
                            <div class="List-item">Проспект Коломяжский, д.15, корп.2</div>
                            <div class="List-item">Проспект Наставников, д.19, стр 9</div>
                            <div class="List-item">Проспект Московский, д.94, стр.лит 4</div>
                            <div class="List-item">Проспект Наставников, д.33, стр 4</div>
                            <div class="List-item">Проспект Ленинский, д.130/6</div>
                            <div class="List-item">Проспект Коломяжский, д.15, корп.2</div>
                            <div class="List-item">Ул. Фурштатская, д.40, стр 5</div>
                            <div class="List-item">Проспект Наставников, д.33, стр 4</div>
                        </div>
                        
                    </div>
            
                </div>
            
            </div>

        </div>
        
        <div class="BoxMap-menuR">

        </div>
        
    </div>

</div>

</body>

</html>