<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>новинки</title>
    <link rel="stylesheet" href="new-card.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
<body>

    <!--Новинки хит 1-->
    <div class="NC">       
        <img src="../../assets/news-card/PNG/New1.png" alt="New1">
    </div>

    <!--Новинки хит2-->
    <div class="NC">       
        <img src="../../assets/news-card/PNG/New2.png" alt="New2">
    </div>

    <!--Новинки хит3-->
    <div class="NC">       
        <img src="../../assets/news-card/PNG/New3.png" alt="New3">
    </div>

    <!--Новинки хит4-->
    <div class="NC">       
        <img src="../../assets/news-card/PNG/New4.png" alt="New4">
    </div>


</body>
</html>