.Icon{
    --size: 21px;
}

.Icon{
    outline: solid 1px red;
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    /*Отцентровка по середине*/
    align-items: center;
    /*отцентровка по ширине*/
    justify-content: center;
    /*Свойство overflow управляет отображением содержания блочного элемента*/
    overflow: hidden;
}

.Icon > * {
    max-height: var(--size);
    max-width: var(--size);
}