<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page5</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page5.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page5">
    <div class="PageText1">
        ПРОИЗВОДСТВО SANIS
    </div>

    <div class="Line">
        <div class="Line-bottom">_________</div>
    </div>

    <div class="PageText2">
        Ювелирный завод «Санис» основан в 1992 году.<br>
        На сегодняшний день компания «Санис» является признанным грандом в области ювелирного<br>
        дизайна и качества исполнения ювелирных украшений.
    </div>

    <div class="VideoBox">
        
        
    </div>

    
 
   
</div>

</body>

</html>