<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header-bottom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header-bottom.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="HeaderBottom helper">
    <div class="HeaderBottom-text">Серьги</div>
    <div class="HeaderBottom-text">Кольца</div>
    <div class="HeaderBottom-text">Браслеты</div>
    <div class="HeaderBottom-text">Подвески</div>
    <div class="HeaderBottom-text">Колье</div>
    <div class="HeaderBottom-text">Пирсинг</div>
    <div class="HeaderBottom-text">Броши</div>
    <div class="HeaderBottom-text">Запонки</div>
    <div class="HeaderBottom-text">Изделия c деревом</div>
    <div class="HeaderBottom-text">Религиозные</div>
    <div class="HeaderBottom-text">Подарки</div>
    <div class="HeaderBottom-text">Коллекции</div>
    <div class="HeaderBottom-text">Прочие</div>
</div> 


</body>

</html>