.HeaderTop {
  background: black;
  color: #FFFFFF;
  font: 600 11px/14px Inter, Arial;
  height: 35px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.HeaderTop > * {
  width: 33.3333333333%;
}
.HeaderTop-left {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HeaderTop-map {
  padding: 4px 11px;
}
.HeaderTop-nav {
  padding: 4px 11px;
}
.HeaderTop-middle {
  padding: 4px 0px;
  text-align: center;
}
.HeaderTop-right {
  padding-right: 20px;
  text-align: end;
  font: 600 13px/16px Inter, Arial;
}

.MapBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.MapBlock-icon {
  padding: 4px 2px;
}
.MapBlock-text {
  padding: 4px 0px;
}

.NavBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.NavBlock-link {
  padding: 4px 10px;
}

.Conteiner {
  background: #FFFFFF;
  height: 120px;
  display: flex;
  align-items: center;
}
.Conteiner > * {
  width: 33.3333333333%;
}
.Conteiner-left {
  padding: 20px;
}
.Conteiner-center {
  text-align: center;
}
.Conteiner-right {
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.Conteiner-right-man {
  margin-right: 25px;
}
.Conteiner-right-lop {
  margin-right: 25px;
}

.HeaderBottom {
  background: #FFFFFF;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.HeaderBottom-text {
  font: 600 13px/16px Inter, Arial;
  color: #111111;
  text-transform: uppercase;
  padding: 4px 5px;
}

.Wrapper {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1100px;
  min-width: 600px;
  width: 100%;
}

.helper, .helper * {
  outline: 1px solid red;
}

* {
  font: 400 16px/1.5em "Roboto", "Arial";
  box-sizing: border-box;
}

.HeaderBlock {
  padding: 0px;
}

.Btn {
  --bg-default: #000;
  --bg-hover-default: #222;
  --textColor-default: #fff;
  --msAnimate: .2s;
  --text-default: 600 10px/1.5em Arial;
}

.Btn {
  display: inline-block;
  padding: 12px 17px;
  border-radius: 3px;
  cursor: pointer;
  background: var(--bg-default);
  color: var(--textColor-default);
  font: 600 10px/1.5em Arial;
  text-align: center;
  text-transform: uppercase;
  transition: background-color var(--msAnimate);
}

.Btn:hover {
  background-color: var(--bg-hover-default);
}

.Btn--block {
  display: block;
}

.Page2 {
  background-image: url(../../assets/header-top/Women.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #E0DBD8;
  height: 800px;
}
.Page2-box {
  display: flex;
  justify-content: center;
}

.Women {
  display: flex;
  justify-content: space-between;
}
.Women-arrowLinkL {
  background: no-repeat;
  padding-left: 30px;
}
.Women-arrowLinkR {
  background: no-repeat;
  padding-right: 30px;
}

.WomenBlock {
  width: 535px;
  height: 150px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 250px;
  margin-left: 800px;
}
.WomenBlock-text {
  color: #000000;
  font: 300 34px/41px "Inter", "Arial";
}
.WomenBlock-btn {
  padding: 0px;
}

.PartCard {
  --bg-default: #F3F3F3;
  --w-default: 310px;
  --h-default: 171px;
}

.PartCard {
  background: var(--bg-default);
  border-radius: 10px;
  width: var(--w-default);
  height: var(--h-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
}

.PC > * {
  max-height: var(--h-default);
  max-width: var(--w-default);
}

.PageCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.PageCard :not(:first-child) {
  margin-left: 10px;
}

.PageText {
  color: #111111;
  font: 600 30px/36px "Inter", "Arial";
  text-align: center;
  margin-top: 115px;
}

.Line {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2px;
}
.Line-bottom {
  border-bottom: #F9C859 4px solid;
}

.Box {
  display: flex;
  width: 1006px;
  justify-content: space-between;
}

.docStepCard {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.docStepCard-num {
  font: 400 16px/1.5em Stapel, Arial;
  color: #BFBFBF;
}

.docStepCard-icon {
  margin-top: 42px;
}

.docStepCard-text {
  font: 500 22px/1.5em Inter, Arial;
  color: #000000;
  margin-top: 15px;
}

.docStepCard-btn {
  width: 216px;
  margin-top: 47px;
}

.docStepCard--iconEnv {
  margin-top: 38px;
}

.docStepCard--iconDoc {
  margin-top: 38px;
}

.PageBox {
  display: flex;
  justify-content: center;
  margin-top: 47px;
}

.PageText {
  color: #111111;
  font: 600 30px/36px "Inter", "Arial";
  text-align: center;
  margin-top: 115px;
}

.Line {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 7px;
}
.Line-bottom {
  border-bottom: #F9C859 4px solid;
}

.Page {
  margin: 0px;
}/*# sourceMappingURL=page.css.map */