<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page.css">
    <link rel="stylesheet" href="../../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../buttonMaket/button.css">
    <link rel="stylesheet" href="../label/label.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page">
    <div class="PageOne">
        <div class="HeaderBlock">
            <div class="HeaderTop">
                <div class="HeaderTop-left">
                    <div class="HeaderTop-map">
                        <div class="MapBlock">
                            <div class="MapBlock-icon">
                                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 4.16406C8 1.9574 6.20667 0.164062 4 0.164062C1.79333 0.164062 0 1.9574 0 4.16406C0 7.16406 4 11.4974 4 11.4974C4 11.4974 8 7.16406 8 4.16406Z" fill="#F9C859"/>
                                    <circle cx="3.99888" cy="4.17466" r="1.65513" fill="black"/>
                                </svg> 
        
                            </div>
        
                            <div class="MapBlock-text">Санкт-Петербург</div>
                        </div>
        
                    </div>
        
                    <div class="HeaderTop-nav">
                        <div class="NavBlock">
                            <div class="NavBlock-link">О компании</div>
                            <div class="NavBlock-link">Партнерам</div>
                            <div class="NavBlock-link">Адреса</div>
                            <div class="NavBlock-link">Новости</div>
                        </div>
        
                    </div>
        
                </div>
        
                <div class="HeaderTop-middle">ОПТОВЫЙ ИНТЕРНЕТ-МАГАЗИН ЮВЕЛИРНЫХ УКРАШЕНИЙ</div>
                
                <div class="HeaderTop-right">+7 (812) 363-47-44</div>
        
            </div>
        
            <div class="Conteiner">
                <div class="Conteiner-left"></div>
            
                <div class="Conteiner-center"> <!--Логотип Sanis по центру-->
                    <img src="../../assets/icon/PNG/Sanis.png" alt="Sanis"> 
            
                </div>
                
                <div class="Conteiner-right">
                        <!--Иконка Человечек-->
                    <div class="Conteiner-right-man">
                        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="9" cy="5" r="4.5" stroke="black"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4914 19C16.2559 15.5044 12.9222 13 9.00351 13C5.08485 13 1.75113 15.5044 0.515625 19H1.58502C2.7718 16.0682 5.64613 14 9.00351 14C12.3609 14 15.2352 16.0682 16.422 19H17.4914Z" fill="#111111"/>
                        </svg>
            
                    </div>
            
                    <!--Иконка Лупа-->
                    <div class="Conteiner-right-lop">
                        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8.5" cy="8.5" r="8" stroke="black"/>
                        <path d="M14 14.5L18.5 19" stroke="black"/>
                        </svg>
            
                    </div>
            
                    <!--Иконка Сумка-->
                    <div class="">
                        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="5.5" width="17" height="16" rx="1.5" stroke="black"/>
                        <path d="M5.00244 9C5.00244 6.09184 4.76415 1 8.99885 1C13.0054 1 12.9976 6.33162 13 8.99743" stroke="black" stroke-linecap="round"/>
                        <circle cx="5" cy="10" r="1" fill="black"/>
                        <circle cx="13" cy="10" r="1" fill="black"/>
                        </svg>
            
                    </div>
            
                </div>
            
            </div>
        
            <div class="HeaderBottom">
                <div class="HeaderBottom-text">Серьги</div>
                <div class="HeaderBottom-text">Кольца</div>
                <div class="HeaderBottom-text">Браслеты</div>
                <div class="HeaderBottom-text">Подвески</div>
                <div class="HeaderBottom-text">Колье</div>
                <div class="HeaderBottom-text">Пирсинг</div>
                <div class="HeaderBottom-text">Броши</div>
                <div class="HeaderBottom-text">Запонки</div>
                <div class="HeaderBottom-text">Изделия c деревом</div>
                <div class="HeaderBottom-text">Религиозные</div>
                <div class="HeaderBottom-text">Подарки</div>
                <div class="HeaderBottom-text">Коллекции</div>
                <div class="HeaderBottom-text">Прочие</div>
            </div> 
        
        </div>

    </div>

    <div class="PageTwo">
        <div class="Page2">
            <div class="Page2-box">
                <div class="WomenBlock">
                    <div class="WomenBlock-text">
                        Скидки до 20% на украшения из красного золота
                    </div>
            
                    <div class="WomenBlock-btn">
                        <div class="Btn">
                            подробнее
                        </div>
            
                    </div>
                    
                </div>
        
            </div>
        
            <div class="Women">
                <div class="Women-arrowLinkL">
                    <img src="../../assets/header-top/Lстрелка.png" alt="Стрелка влево">
                </div>
        
                <div class="Women-arrowLinkR">
                    <img src="../../assets/header-top/Rстрелка.png" alt="Стрелка вправо">
                </div>
        
            </div>
        
        </div>

    </div>

    <div class="PageThree Wrapper">
        <div class="Page3">
            <div class="PageText">
                С НАМИ СОТРУДНИЧАЮТ
            </div>
        
            <div class="Line">
                <div class="Line-bottom">_________</div>
            </div>
        
            <div class="PageCard">
                <div>
                    <img src="../../assets/circle-button/PNG/WarrowLeft.png" alt="Стрелка влево">
                </div>     
                
                <div class="PartCard"> 
                    <img src="../../assets/partner-card/PNG/Poryvay.png" alt="Poryvay">
                </div>
            
                <div class="PartCard">  
                    <img src="../../assets/partner-card/PNG/Золотой телец.png" alt="Золотой телец">
                </div>
            
                <div class="PartCard">  
                    <img src="../../assets/partner-card/PNG/Аквамарин.png" alt="Аквамарин">
                </div>
            
                <div class="PartCard">  
                    <img src="../../assets/partner-card/PNG/Сердолик+.png" alt="Сердолик">
                </div> 
            
                <div class="PartCard"> 
                    <img src="../../assets/partner-card/PNG/Унция.png" alt="Унция">
                </div>
        
                <div>
                    <img src="../../assets/circle-button/PNG/WarrowRight.png" alt="Стрелка вправо">
                </div>  
        
            </div>
           
        </div>
        
    </div>

    <div class="PageFour Wrapper">
        <div class="Page4">
            <div class="PageText">
                ЗАКЛЮЧИТЕ ДОГОВОР <br>
                ВСЕГО В 3 ШАГА
            </div>
        
            <div class="Line">
                <div class="Line-bottom">_________</div>
            </div>
        
            <div class="PageBox">
                <div class="Box">
                    <div class="docStepCard">
                        <div class="docStepCard-num">
                            1
                        </div>
                        <div class="docStepCard-icon">
                            <svg-to-inline path="../../assets/icon/SVG/tel.svg"/>
                        </div>
                        <div class="docStepCard-text">
                            Оставьте свою заявку
                        </div>
                        <div class="docStepCard-btn">
                            <div class="Btn Btn--block">
                                Оставить заявку
                            </div>
                        </div>
                    </div>
                    
                    <div class="docStepCard">
                        <div class="docStepCard-num">
                            2
                        </div>
                        <div class="docStepCard-icon docStepCard--iconEnv">
                            <svg-to-inline path="../../assets/icon/SVG/Envelope.svg"/>
                        </div>
                        <div class="docStepCard-text">
                            Отправьте документы
                        </div>
                    </div>
                    
                    <div class="docStepCard">
                        <div class="docStepCard-num">
                            3
                        </div>
                        <div class="docStepCard-icon docStepCard--iconDoc">
                            <img src="../../../src/assets/icon/PNG/List.png" alt="документы"> 
                        </div>
                        <div class="docStepCard-text">
                            Подпишите договор
                        </div>
                    </div>
                
                </div>
                
            </div>
           
        </div>

    </div>

    <div class="PageFive Wrapper">
        <div class="Page5">
            <div class="PageText1">
                ПРОИЗВОДСТВО SANIS
            </div>
        
            <div class="Line">
                <div class="Line-bottom">_________</div>
            </div>
        
            <div class="PageText2">
                Ювелирный завод «Санис» основан в 1992 году.<br>
                На сегодняшний день компания «Санис» является признанным грандом в области ювелирного<br>
                дизайна и качества исполнения ювелирных украшений.
            </div>
        
            <div class="VideoBox">  
            </div>
            
        </div>

    </div>

    <div class="PageSix Wrapper">
        <div class="Page6">
            <div class="PageText">
                НОВИНКИ
            </div>
        
            <div class="Line">
                <div class="Line-bottom">_________</div>
            </div>
        
            <div class="PageCard">
                <div>
                    <img src="../../assets/circle-button/PNG/Black_arrow_left.png" alt="Стрелка влево">
                </div> 
        
                <div class="Content">
                    <div class="NewItemCard">
                        <div class="NewItemCard-lab">
                            <div class="Lab">НОВИНКА</div>
                            <div class="Lab">ХИТ</div>
                        </div>
                        <div class="NewItemCard-img">
                            <img src="../../assets/news-card/PNG/New1.png" alt="New1">
                        </div>
                        <div class="NewItemCard-text">
                            <div class="NewItemCard-textBig">
                                Кольцо из белого золота с бриллиантами
                            </div>
                            <div class="NewItemCard-textSmall">
                                Состав: белое золото 585 пробы, бриллианты
                            </div>
                        </div>
                    
                    </div>
                
                    <div class="NewItemCard">
                        <div class="NewItemCard-lab ">
                            <div class="Lab">НОВИНКА</div>
                            <div class="Lab">ХИТ</div>
                        </div>
                        <div class="NewItemCard-img ">
                            <img src="../../assets/news-card/PNG/New2.png" alt="New2">
                        </div>
                        <div class="NewItemCard-text">
                            <div class="NewItemCard-textBig">
                                Кольцо из белого золота с бриллиантами
                            </div>
                            <div class="NewItemCard-textSmall">
                                Состав: белое золото 585 пробы, бриллианты
                            </div>
                        </div>
                        
                    </div>
                
                    <div class="NewItemCard">
                        <div class="NewItemCard-lab">
                            <div class="Lab">ХИТ</div>
                        </div>
                        <div class="NewItemCard-img">
                            <img src="../../assets/news-card/PNG/New3.png" alt="New3">
                        </div>
                        <div class="NewItemCard-text">
                            <div class="NewItemCard-textBig">
                                Кольцо из белого золота с бриллиантами
                            </div>
                            <div class="NewItemCard-textSmall">
                                Состав: белое золото 585 пробы, бриллианты
                            </div>
                        </div>
                        
                    </div>
                
                    <div class="NewItemCard">
                        <div class="NewItemCard-lab">
                            <div class="Lab">НОВИНКА</div>
                            <div class="Lab">ХИТ</div>
                        </div>
                        <div class="NewItemCard-img">
                            <img src="../../assets/news-card/PNG/New4.png" alt="New4">
                        </div>
                        <div class="NewItemCard-text">
                            <div class="NewItemCard-textBig">
                                Кольцо из белого золота с бриллиантами 
                            </div>
                            <div class="NewItemCard-textSmall">
                                Состав: белое золото 585 пробы, бриллианты
                            </div>
                        </div>
                        
                    </div>
        
                </div>
        
                <div>
                    <img src="../../assets/circle-button/PNG/Black_arrow_right.png" alt="Стрелка вправо">
                </div>
        
            </div>
           
        </div>

    </div>

    <div class="PageSeven Wrapper">
        <div class="Page7">
            <div  class="Page7-box">
                <div  class="Page7-text">
                    Скидки до 20% на<br>
                    украшения из красного<br>
                    золота
                </div>
                
            </div> 
          
        </div>

    </div>

    <div class="PageEight Wrapper">
        <div class="Page8">
            <div class="PageText">
                КАТАЛОГ
            </div>
        
            <div class="Line">
                <div class="Line-bottom">_________</div>
            </div>
        
            <div class="Content">  
                <div class="CatalogBlock">
                    <div class="CatalogCard CatalogCard--lg" style="background-image: url(../../assets/catalog-card/PNG/Колье.png);">
                        <div class="CatalogCard-text">Колье</div>
                    </div>
        
                   
                    <div class="CatalogCard CatalogCard--md" style="background-image: url(../../assets/catalog-card/PNG/Запонки.png);">
                        <div class="CatalogCard-text">
                            Запонки
                        </div>
        
                    </div>
                    
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Колца.png);">
                        <div class="CatalogCard-text">
                            Кольца
                        </div>
                        <div class="CatalogCard-lab">
                            <div class="Lab">Все</div>
                            <div class="Lab">Перчатки</div>
                        </div>
        
                    </div>
                    
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Браслеты.png)";>
                        <div class="CatalogCard-text">
                            Браслеты
                        </div>
                        <div class="CatalogCard-lab">
                            <div class="Lab CatalogCard--lab">На цепочке</div>
                            <div class="Lab CatalogCard--lab">На нитке</div>
                            <div class="Lab CatalogCard--lab">Из звеньев</div>
                            <div class="Lab CatalogCard--lab">Литьевые</div>
                            <div class="Lab CatalogCard--lab">Штампованные</div>
                            <div class="Lab CatalogCard--lab">Ролексы</div>
                        </div>
        
                    </div>
                   
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Подвески.png);">
                        <div class="CatalogCard-text">
                            Подвески
                        </div>
        
                    </div>
        
                    
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Подарки.png);">
                        <div class="CatalogCard-text">
                            Подарки
                        </div>
        
                    </div>
                    
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Пирсинг.png);">
                        <div class="CatalogCard-text">
                            Пирсинг
                        </div>
        
                    </div>
                    
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Броши.png);">
                        <div class="CatalogCard-text">
                            Броши
                        </div>
        
                    </div>
                    
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Коллекции.png);">
                        <div class="CatalogCard-text">
                            Коллекции
                        </div>
        
                    </div>
                   
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Дерево.png);">
                        <div class="CatalogCard-text">
                            Изделия из дерева
                        </div>
                        <div class="CatalogCard-lab">
                            <div class="Lab CatalogCard--lab">Серьги</div>
                            <div class="Lab CatalogCard--lab">Кресты</div>
                            <div class="Lab CatalogCard--lab">Подвески</div>
                            <div class="Lab CatalogCard--lab">Запонки</div>
                        </div>
        
                    </div>
                    <!--Карточка "Религиозные"-->
                    <div class="CatalogCard" style="background-image: url(../../assets/catalog-card/PNG/Религия.png);">
                        <div class="CatalogCard-text">
                            Религиозные
                        </div>
                        <div class="CatalogCard-lab">
                            <div class="Lab">Христианские</div>
                            <div class="Lab">Мусульманские</div>
                        </div>
        
                    </div>
        
                </div>
        
            </div>
           
        </div>

        <div class="Page-btn">
            <div class="Btn">
                показать все
            </div>
    
        </div>

    </div>

    <div class="PageNine Wrapper">

    </div>

    <div class="PageTen Wrapper">

    </div>
    
    <div class="PageFooter">
        <div class="FooterBlock">
            <div class="FooterTop">
                <div class="FooterTop-left">
                    <div class="FooterTop-nav">
                        <div class="NavBlock">
                            <div class="NavBlock-link">О компании</div>
                            <div class="NavBlock-link">Партнерам</div>
                            <div class="NavBlock-link">Адреса</div>
                            <div class="NavBlock-link">Новости</div>
                        </div>
            
                    </div>
                    
                </div>
            
                <div class="FooterTop-center">
                    г. Санкт-Петербург, Херсонская улица 39, офис 8-02 (8-этаж)
                </div>
            
                <div class="FooterTop-right">
                    <div class="FooterTop-tel">
                        <div class="TelBlock">
                            <div class="TelBlock-link">+7 (812) 363-47-44</div>
                            <div class="TelBlock-link">+7 (812) 363-00-00</div>
                        
                        </div>
            
                    </div>
                   
                </div>
            
            </div>
            <div class="FooterBottom">
                <div class="FooterBottom-left">© Sanis Copyright</div>
            
                <div class="FooterBottom-center">
                    <img src="../../assets/footer-img/png/facebookW.png" alt="facebook"> 
                    <img src="../../assets/footer-img/png/tictocW.png" alt="tictoc"> 
                    <img src="../../assets/footer-img/png/instagramW.png" alt="instagram"> 
                </div>
            
                <div class="FooterBottom-right">sales@sains.ru</div>
            </div>
        
        </div>   
        
    </div>

</div>

</body>

</html>