@import '../new-card/new-card';


.PageText {
    color: #111111;
    font: 600 30px/24px 'Inter', 'Arial';
    text-align: center;
    margin-top: 115px;      
}

.Line {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 2px;
     
    &-bottom {
        border-bottom: #F9C859 4px solid;   
    }      
}

.PageCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    :not(:first-child) {
        margin-left: 10px;
    }
    
  
}