<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Карточки для каталога</title>
    <link rel="stylesheet" href="catalog-card2.css">
    <link rel="stylesheet" href="../label/label.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
<body>
         
<div class="angry-grid">  
    <div id="item-0">  <!--Карточка "Колье"-->
        <div class="CatalogCard CatalogCard--lg" style="background-image: url(../../assets/catalog-card/PNG/Колье.png);">
            <div class="CatalogCard-text">
                Колье
            </div>
        </div>
    </div>
    <div id="item-1">  <!--Карточка "Запонки"-->
        <div class="CatalogCard CatalogCard--md" style="background-image: url(../../assets/catalog-card/PNG/Запонки.png);">
            <div class="CatalogCard-text">
                Запонки
            </div>
        </div>
    </div>
    <div id="item-2">  <!--Карточка "Кольца"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Колца.png);">
            <div class="CatalogCard-text">
                Кольца
            </div>
            <div class="CatalogCard-lab">
                <div class="Lab">Все</div>
                <div class="Lab">Перчатки</div>
            </div>
        </div>
    </div>
    <div id="item-3">  <!--Карточка "Браслеты"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Браслеты.png)";>
            <div class="CatalogCard-text">
                Браслеты
            </div>
            <div class="CatalogCard-lab">
                <div class="Lab CatalogCard--lab">На цепочке</div>
                <div class="Lab CatalogCard--lab">На нитке</div>
                <div class="Lab CatalogCard--lab">Из звеньев</div>
                <div class="Lab CatalogCard--lab">Литьевые</div>
                <div class="Lab CatalogCard--lab">Штампованные</div>
                <div class="Lab CatalogCard--lab">Ролексы</div>
            </div>
        </div>
    </div>
    <div id="item-4">   <!--Карточка "Подвески"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Подвески.png);">
            <div class="CatalogCard-text">
                Подвески
            </div>
        </div>
    </div>
    <div id="item-5">   <!--Карточка "Подарки"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Подарки.png);">
            <div class="CatalogCard-text">
                Подарки
            </div>
        </div>
    </div>
    <div id="item-6">  <!--Карточка "Пирсинг"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Пирсинг.png);">
            <div class="CatalogCard-text">
                Пирсинг
            </div>
        </div>
    </div>
    <div id="item-7">  <!--Карточка "Броши"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Броши.png);">
            <div class="CatalogCard-text">
                Броши
            </div>
        </div>
    </div>
    <div id="item-8">  <!--Карточка "Коллекции"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Коллекции.png);">
            <div class="CatalogCard-text">
                Коллекции
            </div>
        </div>
    </div>
    <div id="item-9">  <!--Карточка "Изделия из дерева"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Дерево.png);">
            <div class="CatalogCard-text">
                Изделия из дерева
            </div>
            <div class="CatalogCard-lab">
                <div class="Lab CatalogCard--lab">Серьги</div>
                <div class="Lab CatalogCard--lab">Кресты</div>
                <div class="Lab CatalogCard--lab">Подвески</div>
                <div class="Lab CatalogCard--lab">Запонки</div>
            </div>
        </div>
    </div>
    <div id="item-10">  <!--Карточка "Религиозные"-->
        <div class="CatalogCard helper" style="background-image: url(../../assets/catalog-card/PNG/Религия.png);">
            <div class="CatalogCard-text">
                Религиозные
            </div>
            <div class="CatalogCard-lab">
                <div class="Lab">Христианские</div>
                <div class="Lab">Мусульманские</div>
            </div>
        </div>
    </div>
</div>
        
</body>
</html>