<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FooterBlock</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="pageFooterBlock.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

<style>
    .helper, .helper * {
        outline: 1px solid red;
    }
</style>

<div class="FooterBlock">
    <div class="FooterTop">
        <div class="FooterTop-left">
            <div class="FooterTop-nav">
                <div class="NavBlock">
                    <div class="NavBlock-link">О компании</div>
                    <div class="NavBlock-link">Партнерам</div>
                    <div class="NavBlock-link">Адреса</div>
                    <div class="NavBlock-link">Новости</div>
                </div>
    
            </div>
            
        </div>
    
        <div class="FooterTop-center">
            г. Санкт-Петербург, Херсонская улица 39, офис 8-02 (8-этаж)
        </div>
    
        <div class="FooterTop-right">
            <div class="FooterTop-tel">
                <div class="TelBlock">
                    <div class="TelBlock-link">+7 (812) 363-47-44</div>
                    <div class="TelBlock-link">+7 (812) 363-00-00</div>
                
                </div>
    
            </div>
           
        </div>
    
    </div>
    <div class="FooterBottom">
        <div class="FooterBottom-left">© Sanis Copyright</div>
    
        <div class="FooterBottom-center">
            <img src="../../assets/footer-img/png/facebookW.png" alt="facebook"> 
            <img src="../../assets/footer-img/png/tictocW.png" alt="tictoc"> 
            <img src="../../assets/footer-img/png/instagramW.png" alt="instagram"> 
        </div>
    
        <div class="FooterBottom-right">sales@sains.ru</div>
    </div>

</div>

</body>

</html>