<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="doc-step-card.css">
    <link rel="stylesheet" href="../button/button.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script>
</head>
<body>

<div class="DocStepCard">
    <div class="DocStepCard-num">
        1
    </div>

    <div class="DocStepCard-icon">
        <svg-to-inline path="../../assets/svg/tel.svg" />
    </div>

    <div class="DocStepCard-text">
        Оставьте свою заявку
    </div>

    <div class="DocStepCard-btn">
        <div class="Btn Btn--block">
            ОСТАВИТЬ ЗАЯВКУ
        </div>
    </div>
</div>

</body>
</html>
