@import "../catalog-card/catalog-card";

$g: 10px;
$p: 20px;

@function grid-width($n) {
  @return $p * 2 + $s * $n + $g * ( $n - 1 );
}

.Content{
  display: flex;
  justify-content: center;
  padding: 0 $p;
}

.CatalogBlock{
  display: inline-grid;
  gap: $g;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row dense;

  @for $i from 3 through 5 {
    @media screen and (min-width: grid-width($i)) {
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

.CatalogCard {
  grid-column: span 1;
  grid-row: span 1;

  &--md{
    grid-column: span 2;
    grid-row: span 1;
  }
  &--lg{
    grid-column: span 2;
    grid-row: span 2;
  }
}
