<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./button.css">
</head>
<body>
<h1>Кнопки</h1>

<div class="Btn">
    кнопка
</div>

<div class="Btn Btn--lg">
    Большая кнопка
</div>

<ol>
    <li>Модификатор цвета</li>
    <li>Кнопки должны быть одинаковы вне зависимости от тега</li>
    <li>Модификатор контурных кнопок</li>
    <li>Модификатор размера</li>
    <li>Должна реагировать на атрибут disabled</li>
    <li>Модификатор на блочную кнопку</li>
</ol>

</body>
</html>
