.Btn{
    --bg-default: #000;

    --bg-hover-default: #222;

    --textColor-default: #fff;

    --msAnimate: .2s;

    --text-default: 600 10px/1.5em Arial;
}

.Btn{
    display: inline-block;
    padding: 12px 17px;
    border-radius: 3px;
    cursor: pointer;
    background: var(--bg-default);
    color: var(--textColor-default);
    font: 600 10px/1.5em Arial;
    text-align: center;
    text-transform: uppercase;
    transition: background-color var(--msAnimate);
}

.Btn:hover{
    background-color: var(--bg-hover-default);
}

