.IconOZ {
    --size: 21px;
}

.IconOZ {
    outline: solid 1px red;
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.IconOZ > * {
    max-height: var(--size);
    max-width: var(--size);
}