<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page2</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page2.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page2">
    <div class="Page2-box">
        <div class="WomenBlock">
            <div class="WomenBlock-text">
                Скидки до 20% на украшения из красного золота
            </div>
    
            <div class="WomenBlock-btn">
                <div class="Btn">
                    подробнее
                </div>
    
            </div>
            
        </div>

    </div>

    <div class="Women">
        <div class="Women-arrowLinkL">
            <img src="../../assets/header-top/Lстрелка.png" alt="Стрелка влево">
        </div>

        <div class="Women-arrowLinkR">
            <img src="../../assets/header-top/Rстрелка.png" alt="Стрелка вправо">
        </div>

    </div>

</div>

</body>

</html>