<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="news-block.css">
</head>
<body>

<div class="Content">
    <div class="NewsBlock">
        <div class="NewsHeader">
            <div class="NewsHeader-space"></div>
            <div class="NewsHeader-titleBlock">
                <div class="Title">
                    <div class="Title-text">
                        Новости
                    </div>
                    <div class="Title-line">
                        <img src="../../assets/Rectangle 7784.png" alt="">
                    </div>
                </div>
            </div>
            <div class="NewsHeader-allNewsBlock">
                <div class="AllNews">
                    <div class="AllNews-text">
                        Все новости
                    </div>
                    <div class="AllNews-arrow">
                        <img src="../../assets/VectorArrow.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="NewsCardsBlock">
            <div class="NewsCards">
                <div class="NewsCard NewsCard--xl" style='background: url("../../assets/cardXL-shadow.png") bottom no-repeat, url("../../assets/Depositphotos_402212260_XL+ 2.png") center/cover no-repeat'>
                    <div class="NewsCard-date">04.03.2022</div>
                    <div class="NewsCard-text">
                        Девять причин посетить стенд «САНИС» на выставке JUNWEX Москва
                    </div>
                </div>
                <div class="NewsCard el1">
                    <div class="NewsCard-img" style='background-image: url("../../assets/depositphotos_375381220-stock-photo-young-jeweler-working-in-his 4.png")'></div>
                    <div class="NewsCard-date">04.03.2022</div>
                    <div class="NewsCard-text">
                        Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ
                    </div>
                </div>
                <div class="NewsCard el2">
                    <div class="NewsCard-img" style='background-image: url("../../assets/depositphotos_375381220-stock-photo-young-jeweler-working-in-his 4.png")'></div>
                    <div class="NewsCard-date">04.03.2022</div>
                    <div class="NewsCard-text">
                        Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ
                    </div>
                </div>
                <div class="NewsCard el3">
                    <div class="NewsCard-img" style='background-image: url("../../assets/depositphotos_375381220-stock-photo-young-jeweler-working-in-his 4.png")'></div>
                    <div class="NewsCard-date">04.03.2022</div>
                    <div class="NewsCard-text">
                        Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ
                    </div>
                </div>
                <div class="NewsCard el4">
                    <div class="NewsCard-img" style='background-image: url("../../assets/depositphotos_375381220-stock-photo-young-jeweler-working-in-his 4.png")'></div>
                    <div class="NewsCard-date">04.03.2022</div>
                    <div class="NewsCard-text">
                        Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












</body>
</html>