<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Icon.css">
    <title>Document</title>
</head>
<body>
    <div class="Arrow">
        <img src="../../assets/svg/arrow.svg" alt="arrow">
    </div>
    <div class="Arrow Arrow-right"><img src="../../assets/svg/arrow.svg" alt="arrow"></div>
    <div class="Arrow Arrow--black"><img src="../../assets/svg/arrow.svg" alt="arrow"></div>
    <div class="Arrow   Arrow-left--black"><img src="../../assets/svg/arrow.svg" alt="arrow"></div>

</body>
</html>