.Arrow{
    --size: 45px;
}

.Arrow{
    /*outline: solid 1px red;*/
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    /*Отцентровка по середине*/
    align-items: center;
    /*отцентровка по ширине*/
    justify-content: center;
    /*Свойство overflow управляет отображением содержания блочного элемента*/
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
    border-radius: 50%;

}

.Arrow > * {
    max-height: var(--size);
    max-width: var(--size);
}
.Arrow-right {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Arrow--black {

}

.Arrow-right--black {

}

