$size: 350px;
$sizeLg: 810px;

.NewCard { /* блок для карточки*/
    height: $size;
    width: $size;
    background: white no-repeat top;
    display: inline-flex;
    
    &-textBox {  /* расположение текста в карточке*/
        display: inline-flex;
        flex-direction: column;
        justify-content: end;
        
        &-data { /* текст-дата в карточке*/
            font: 500 12px/15px Inter, Arial;
            color: #000000;
        }
        &-text { /* текст в карточке*/
            font: 500 14px/140% Inter, Arial;
            color: #000000;
        }
        }
}

.NewCard--lg {
    height: $sizeHlg;
    width: $sizeWlg;

    &-text1 { /* текста-дата в карточке*/
        font: 600 12px/15px Inter, Arial;
        color: #FFFFFF;
        padding: 0px 21px;
    }
    &-text2 { /* текста в карточке*/
        font: 500 18px/140% Inter, Arial;
        color: #FFFFFF;
        padding: 7px 21px 28px;
        
    }
}

