<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Команда</title>
    <link rel="stylesheet" href="./new-card.css">
<body>

    <!--Команда Сонит фото1-->
    <div class="">
        <div class="NewCard" style="background-image: url(../../assets/news-card/PNG/New1.png);">
            <div class="NewCard-text">
                <div>04.03.2022</div>
                <div>Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ</div>
            </div>
        </div>
    </div>


</body>
</html>