<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Команда</title>
    <link rel="stylesheet" href="new-card.css">
<body>

    <!--Команда Сонит1-->
    <div class="NC">       
        <img src="../../assets/new-item-card/PNG/item1.png" alt="item1">
    </div>

    <!--Команда Сонит2-->
    <div class="NC">       
        <img src="../../assets/new-item-card/PNG/item2.png" alt="item2">
    </div>

    <!--Команда Сонит3-->
    <div class="NC">       
        <img src="../../assets/new-item-card/PNG/item3.png" alt="item3">
    </div>

    <!--Команда Сонит4-->
    <div class="NC">       
        <img src="../../assets/new-item-card/PNG/item4.png" alt="item4">
    </div>

    <!--Команда Сонит большая фотка-->
    <div class="Big">       
        <img src="../../assets/new-item-card/PNG/item big.png" alt="Big">
    </div>

</body>
</html>