.NewItemCard {
    background: rgb(220, 220, 220);
    border-radius: 10px;
    height: 524px;
    width: 390px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 24px 24px;
    box-sizing: border-box;
    
}

.NewItemCard-lab {

}

.NewItemCard-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.NewItemCard-text {

}

.NewItemCard-textBig {
    font: 500 18px/22px Inter, Arial;
    color: #000000;
}

.NewItemCard-textSmall {
    margin-top: 9px;
    font: 400 12px/15px Inter, Arial;
    color: #9A9A9A;
}

