.LabelCard-common > *{
    margin-top: 4px;
    /*!*margin-left: 4px; пока не придумал как сделать отступ слева когда он уже есть между блоков */
}

.LabelCard {
    display: inline-flex;
    height: 14px;
    background: #000000;
    border-radius: 3px;
    color: white;
    padding: 6px 9px;
    text-transform: uppercase;
    align-items: center;
    font: 500 13px/16px Inter, Arial;
    letter-spacing: 0.05em;
    font-style: normal;
}

.LabelCard--catalog {
     text-transform: none;
 }