.LabelCard {
    display: inline-flex;
    height: 14px;
    background: #000000;
    border-radius: 2px;
    color: white;
    padding: 6px 9px;
    text-transform: uppercase;
    /*А мало ли не отцентруется*/
    /*justify-content: center;*/
    align-items: center;
    font: 600 12px/15px Inter, Arial;
    letter-spacing: 0.05em;
    font-style: normal;

}