<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="label.css">
</head>
<body>

<div class="LabelCard">
    <span>хит</span>
</div>

<div class="LabelCard">
    <span>новинка</span>
</div>

<div class="LabelCard">
    <span>все</span>
</div>

<div class="LabelCard">
    <span>перчатки</span>
</div>

<div class="LabelCard">
    <span>на цепочке</span>
</div>

<div class="LabelCard">
    <span>на нитке</span>
</div>

<div class="LabelCard">
    <span>из звеньев</span>
</div>

</body>
</html>