<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="catalog-card.css">
</head>
<body>

<style>
    .helper, .helper *{ outline: solid 1px red; }
</style>

<div class="ContainerCatalogCard">
    <div class="angry-grid">
        <div id="item-0">
            <div class="CatalogCard CatalogCard--lg" style='background-image: url("../../assets/images/necklace.png")'>
                <div class="TextTitleCatalogCard">Колье</div>
            </div>
        </div>

        <div id="item-1">
            <div class="CatalogCard" style='background-image: url("../../assets/images/ring-AK-47.png")'>
                <div class="TextTitleCatalogCard">Кольцо</div>
                <div class="LabelCard-common">
                    <div class="LabelCard LabelCard--catalog">Все</div>
                    <div class="LabelCard LabelCard--catalog">Перчатки</div>
                </div>
            </div>
        </div>

        <div id="item-2">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/bracelets.png")'>
                <div class="TextTitleCatalogCard">Браслеты</div>

                <div class="LabelCard-common">
                    <div class="LabelCard LabelCard--catalog">На цепочке</div>
                    <div class="LabelCard LabelCard--catalog">На нитке</div>
                    <div class="LabelCard LabelCard--catalog">Из звеньев</div>
                    <div class="LabelCard LabelCard--catalog">Литьевые</div>
                    <div class="LabelCard LabelCard--catalog">Штампованные</div>
                    <div class="LabelCard LabelCard--catalog">Ролексы</div>

                </div>
            </div>
        </div>

        <div id="item-3">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/suspensions2.png")'>
                <div class="TextTitleCatalogCard">Подвески</div>
            </div>
        </div>

        <div id="item-4">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/gifts.png")'>
                <div class="TextTitleCatalogCard">Подарки</div>
            </div>
        </div>

        <div id="item-5">
            <div class="CatalogCard CatalogCard--md" style='background-image: url("../../assets/images/cufflinks.png")'>
                <div class="TextTitleCatalogCard">Запонки</div>
            </div>
        </div>

        <div id="item-6">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/piercing2.png")'>
                <div class="TextTitleCatalogCard">Пирсинг</div>
            </div>
        </div>

        <div id="item-7">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/brooches2.png")'>
                <div class="TextTitleCatalogCard">Броши</div>
            </div>
        </div>

        <div id="item-8">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/collections.png")'>
                <div class="TextTitleCatalogCard">Колекции</div>
            </div>
        </div>

        <div id="item-9">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/wood products.png")'>
                <div class="TextTitleCatalogCard">Изделия из дерева</div>

                <div class="LabelCard-common">
                    <div class="LabelCard LabelCard--catalog">Серьги</div>
                    <div class="LabelCard LabelCard--catalog">Кресты</div>
                    <div class="LabelCard LabelCard--catalog">Подвески</div>
                    <div class="LabelCard LabelCard--catalog">Запонки</div>
                </div>
            </div>
        </div>

        <div id="item-10">
            <div class="CatalogCard CatalogCard--sm" style='background-image: url("../../assets/images/religious.png")'>
                <div class="TextTitleCatalogCard">Религиозные</div>

                <div class="LabelCard-common">
                    <div class="LabelCard LabelCard--catalog">Христианские</div>
                    <div class="LabelCard LabelCard--catalog">Мусульманские</div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>