<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../new-item-card/new-item-card.css">
    <link rel="stylesheet" href="../label/label.css">
</head>
<body>

<style>
    .helper, .helper *{ outline: solid 1px red; }
</style>

<div class="ContainerItemCard helper">
    <div class="ItemCard ItemCard--lg" style='background-image: url("../../assets/images/necklace.png")'>
        <div class="TextTitleCatalogCard">
            Колье
        </div>

<!--        Код для проверки работающих Label и для надобности в будущем-->

<!--        <div>-->
<!--            <div class="LabelCard">-->
<!--                новинка-->
<!--            </div>-->
<!--            <div class="LabelCard">-->
<!--                хит-->
<!--            </div>-->
<!--        </div>-->

    </div>

    <div class="ItemCard ItemCard--md" style='background-image: url("../../assets/images/cufflinks.png")'>
        <div class="TextTitleCatalogCard">
            Запонки
        </div>

    </div>

    <div class="ItemCard ItemCard--sm" style='background-image: url("../../assets/images/ring-AK-47.png")'>
        <div class="TextTitleCatalogCard">
            Кольцо
        </div>

        <div class="LabelCard-common">
            <div class="LabelCard">
                серьги
            </div>
            <div class="LabelCard">
                кресты
            </div>
            <div class="LabelCard">
                подвески
            </div>
            <div class="LabelCard">
                запонки
            </div>
        </div>

    </div>


</div>

</body>
</html>