<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FooterBottom</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="PageFooterbottom.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

<style>
    .helper, .helper * {
        outline: 1px solid red;
    }
</style>

<div class="FooterBottom">
    <div class="FooterBottom-left">© Sanis Copyright</div>

    <div class="FooterBottom-center">
        <img src="../../assets/footer-img/png/facebookW.png" alt="facebook"> 
        <img src="../../assets/footer-img/png/tictocW.png" alt="tictoc"> 
        <img src="../../assets/footer-img/png/instagramW.png" alt="instagram"> 
    </div>

    <div class="FooterBottom-right">sales@sains.ru</div>
</div>

</body>

</html>