.PartCard {
    --bg-default: #F3F3F3;
    --w-default: 310px;
    --h-default: 171px;
}


.PartCard {
    background: var(--bg-default);
    border-radius: 10px;
    width: var(--w-default);
    height: var(--h-default);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    overflow: hidden;
}

.PC > * {
    max-height: var(--h-default);
    max-width: var(--w-default);
}