<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Карточки партнёров</title>
    <link rel="stylesheet" href="partner-card.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
<body>

    <!--Карточка партнера Ювелирный дом Poryvay.svg-->
    <div class="PC">       
        <svg-to-inline path="/OZh/src/assets/partner-card/SVG/Poryvay.svg" />  
    </div>

    
    <div class="PC">
        <img src="../../assets/partner-card/PNG/Poryvay.png" alt="Poryvay">
    </div>
    

    <!--Карточка партнера Золотой телец.png-->
    <div class="PC">
        <img src="../../assets/partner-card/PNG/Золотой телец.png" alt="Золотой телец">
    </div>

    <!--Карточка партнера Аквамарин-->
    <div class="PC">
        <img src="../../assets/partner-card/PNG/Аквамарин.png" alt="Аквамарин">
    </div>

    <!--Карточка партнера Сердолик-->
    <div class="PC">
        <img src="../../assets/partner-card/PNG/Сердолик+.png" alt="Сердолик">
    </div> 

    <!--Карточка партнера Унция-->
    <div class="PC">
        <img src="../../assets/partner-card/PNG/Унция.png" alt="Унция">
    </div>

</body>
</html>