<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="catalog-card4.css">
</head>
<body>

<div class="Content">
  <div class="Content-item" id="item-0">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-1">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-2">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-3">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-4">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-5">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-6">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-7">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-8">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-9">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
  <div class="Content-item" id="item-10">
    <div class="CatalogCard">
      <div class="CatalogCard-title">Браслеты</div>

      <div class="CatalogCard-img">
        <img src="../../../assets/bracer.png" alt="">
      </div>
      <div class="CatalogCard-tagsBlock">
        <div class="Tag">На цепочке</div>
        <div class="Tag">На нитке</div>
        <div class="Tag">Из звеньев</div>
        <div class="Tag">Литьевые</div>
        <div class="Tag">Штампованные</div>
        <div class="Tag">Ролексы</div>
      </div>
    </div>
  </div>
</div>


</body>
</html>

