<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doc-step-card</title>
    <link rel="stylesheet" href="doc-step-card.ccs"> 
    <link rel="stylesheet" href="../buttonMaket/button.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
</head>
    
<body>

<div class="DocStepCard">
    <div class="DocStepCard-num">
        1
    </div>
    <div class="DocStepCard-icon">
        <svg-to-inline path="../../assets/icon/SVG/tel.svg"/>
    </div>
    <div class="DocStepCard-text">
        Оставьте свою заявку
    </div>
    <div class="DocStepCard-btn">
        <div class="Btn">
            Оставьте свою заявку
        </div>
    </div>
</div>

  
</body>
</html>