<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doc-step-card</title>
    <link rel="stylesheet" href="doc-step-card.css"> 
    <link rel="stylesheet" href="../buttonMaket/button.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
</head>
    
<body>

    <style>

.helper, .helper * {
    outline: 1px solid red;
}

    </style>
    
<div class="Box">
    <div class="docStepCard">
        <div class="docStepCard-num">
            1
        </div>
        <div class="docStepCard-icon">
            <svg-to-inline path="../../assets/icon/SVG/tel.svg"/>
        </div>
        <div class="docStepCard-text">
            Оставьте свою заявку
        </div>
        <div class="docStepCard-btn">
            <div class="Btn Btn--block">
                Оставить заявку
            </div>
        </div>
    </div>
    
    <div class="docStepCard">
        <div class="docStepCard-num">
            2
        </div>
        <div class="docStepCard-icon docStepCard--iconEnv">
            <svg-to-inline path="../../assets/icon/SVG/Envelope.svg"/>
        </div>
        <div class="docStepCard-text">
            Отправьте документы
        </div>
    </div>
    
    <div class="docStepCard">
        <div class="docStepCard-num">
            3
        </div>
        <div class="docStepCard-icon docStepCard--iconDoc">
            <img src="../../../src/assets/icon/PNG/List.png" alt="документы"> 
        </div>
        <div class="docStepCard-text">
            Подпишите договор
        </div>
    </div>

</div>

  
</body>
</html>
