<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="item-card.css">
    <link rel="stylesheet" href="../../global/global.css">
</head>
<body>

<div class="itemCard">
    <span>хит</span>
</div>

<div class="itemCard">
    <span>новинка</span>
</div>

<div class="itemCard">
    <span>все</span>
</div>

<div class="itemCard">
    <span>перчатки</span>
</div>

<div class="itemCard">
    <span>на цепочке</span>
</div>

<div class="itemCard">
    <span>на нитке</span>
</div>

<div class="itemCard">
    <span>из звеньев</span>
</div>







</body>
</html>