<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="new-item-card.css">
    <link rel="stylesheet" href="../label/label.css">
    <link rel="stylesheet" href="../../global/global.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script>
</head>
<body>

<div class="ContainerItemCard">
    <div class="ItemCard">
        <div class="Label">
            <div class="LabelCard">
                новинка
            </div>

            <div class="LabelCard">
                хит
            </div>
        </div>
        <div class="ItemCard-icon">
            <img src="../../assets/images/earrings.png" alt="">
        </div>
        <div class="ItemCard-text">
            Кольцо из белого золота с бриллиантами
        </div>
        <div class="ItemCard-describe">
            Состав: белое золото 585 пробы, бриллианты
        </div>
    </div>

    <div class="ItemCard">
        <div class="Label">
            <div class="LabelCard">
                новинка
            </div>

            <div class="LabelCard">
                хит
            </div>
        </div>
        <div class="ItemCard-icon">
            <img src="../../assets/images/earrings.png" alt="">
        </div>
        <div class="ItemCard-text">
            Кольцо из белого золота с бриллиантами
        </div>
        <div class="ItemCard-describe">
            Состав: белое золото 585 пробы, бриллианты
        </div>
    </div>

    <div class="ItemCard">
        <div class="Label">
            <div class="LabelCard">
                новинка
            </div>

            <div class="LabelCard">
                хит
            </div>
        </div>
        <div class="ItemCard-icon">
            <img src="../../assets/images/earrings.png" alt="">
        </div>
        <div class="ItemCard-text">
            Кольцо из белого золота с бриллиантами
        </div>
        <div class="ItemCard-describe">
            Состав: белое золото 585 пробы, бриллианты
        </div>
    </div>
</div>

</body>
</html>