<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new-item-card</title>
    <link rel="stylesheet" href="new-item-card.css">
    <link rel="stylesheet" href="../label/label.css">
</head>
<body>

<style>
    .helper, .helper *{ outline: solid 1px red; }
</style>

<div class="ContainerItemCard">

    <div class="ItemCard" style='background-image: url("../../assets/images/earrings.png")'>
        <div>
            <div class="LabelCard">
                новинка
            </div>
            <div class="LabelCard">
                хит
            </div>
        </div>

        <div class="ItemCard-blockText">
            <div class="ItemCard-text">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="ItemCard-describe">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>

    </div>

    <div class="ItemCard" style='background-image: url("../../assets/images/earrings_2.png")'>

        <div>
            <div class="LabelCard">
                новинка
            </div>

            <div class="LabelCard">
                хит
            </div>
        </div>

        <div class="ItemCard-blockText">
            <div class="ItemCard-text">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="ItemCard-describe">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>

    <div class="ItemCard" style='background-image: url("../../assets/images/ring.png")'>

        <div>
            <div class="LabelCard">
                новинка
            </div>
            <div class="LabelCard">
                хит
            </div>
        </div>

        <div class="ItemCard-blockText">
            <div class="ItemCard-text">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="ItemCard-describe">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>
</div>

</body>
</html>