<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new-item-card</title>
    <link rel="stylesheet" href="new-item-card.css">
    <link rel="stylesheet" href="../label/label.css">
    <link rel="stylesheet" href="../../global/global.css">
</head>
<body>

<style>
    .helper, .helper *{ outline: solid 1px red; }
</style>

<div class="helper ContainerItemCard">

    <div class="ItemCard itemCard--icon1">

        <div class="Label">
            <div class="LabelCard">
                новинка
            </div>
            <div class="LabelCard">
                хит
            </div>
        </div>

        <div class="itemCard-blockText">
            <div class="itemCard-text">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="itemCard-describe">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>

    </div>

    <div class="ItemCard itemCard--icon2">

        <div class="Label">
            <div class="LabelCard">
                новинка
            </div>

            <div class="LabelCard">
                хит
            </div>
        </div>

        <div class="itemCard-blockText">
            <div class="itemCard-text">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="itemCard-describe">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>

    <div class="ItemCard itemCard--icon3">

        <div class="Label">
            <div class="LabelCard">
                новинка
            </div>
            <div class="LabelCard">
                хит
            </div>
        </div>

        <div class="itemCard-blockText">
            <div class="itemCard-text">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="itemCard-describe">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>
</div>

</body>
</html>