.ContainerItemCard {
    display: inline-flex;
}

.ContainerItemCard > * {
    margin-left: 10px;
}

.ItemCard {
    display: flex;
    width: 390px;
    height: 524px;
    background: #F1F1F1 no-repeat center center / 300px  url("../../assets/images/no_img.png");
    border-radius: 10px;
    padding: 27px 24px 24px;
    /*  box-sizing - используется для того, что бы при паддинге не изменялся размер блока контейнера*/
    box-sizing:border-box;
    flex-direction: column;
    justify-content: space-between;
}

.ItemCard-blockText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ItemCard-text {
    font: 500 18px/22px Inter Arial;
    color: #000000;
}

.ItemCard-describe {
    font: 400 12px/15px Inter Arial;
    color: #9A9A9A;
    margin-top: 8px;
}