
$size: 310px;
$size--lg: 630px;

.ContainerCatalogCard {
    display: inline-flex;
}

.ContainerCatalogCard > * {
    margin-left: 10px;
}

.ItemCard {
    display: flex;
    width: 390px;
    height: 524px;
    background: #F1F1F1 no-repeat center center url("../../assets/images/no_img.png");
    border-radius: 10px;
    padding: 27px 24px 24px;
    /*  box-sizing - используется для того, что бы при паддинге не изменялся размер блока контейнера*/
    box-sizing:border-box;
    flex-direction: column;
    justify-content: space-between;
}

.ItemCard--lg {
    width: $size--lg;
    height: $size--lg;
    padding: 21px;
}

.ItemCard--md{
    width: $size--lg;
    height: $size;
    padding: 21px;
}

.ItemCard--sm {
    width: $size;
    height: $size;
    padding: 21px;
}

.ItemCard-blockText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ItemCard-text {
    font: 500 18px/22px Inter Arial;
    color: #000000;
}

.ItemCard-describe {
    font: 400 12px/15px Inter Arial;
    color: #9A9A9A;
    margin-top: 8px;
}

.TextTitleCatalogCard {
    font: 400 20px/24px Inter Arial;
}