@import '../label/label.css';

$s: 310px;
$s--lg: 630px;

.CatalogCard {
  box-sizing: border-box;
  width: $s;
  height: $s;
  border-radius: 10px;
  padding: 23px 20px 24px;
  background: #F1F1F1 no-repeat center center / $s  url("../../assets/images/no_img.png");
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  &--md{
    width: $s--lg;
  }
  &--lg{
    width: $s--lg;
    height: $s--lg;
  }

  &-header {
    font: 400 20px/24px Inter, Arial;
    color: #000000;
  }

  &-footer {
  }
}
