<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new-item-card</title>
    <link rel="stylesheet" href="../label/label.css">
    <link rel="stylesheet" href="./new-item-card.css">
</head>
<body>

<div class="Content">
    <div class="NewItemCard" style='background-image: url("../../assets/images/earrings.png")'>
        <div class="NewItemCard-header">
            <div class="Label">НОВИНКА</div>
            <div class="Label">ХИТ</div>
        </div>
        <div class="NewItemCard-footer">
            <div class="NewItemCard-name">
                Кольцо из белого золота с бриллиантами
            </div>

            <div class="NewItemCard-composition">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>

    <div class="NewItemCard NewItemCard--asImgTag" >
        <div class="NewItemCard-header">
            <div class="Label">НОВИНКА</div>
            <div class="Label">ХИТ</div>
        </div>
        
        <div class="NewItemCard-img">
            <img src="../../assets/images/ring.png" alt="">
        </div>
        
        <div class="NewItemCard-footer">
            <div class="NewItemCard-name">
                Кольцо из белого золота с бриллиантами
            </div>

            <div class="NewItemCard-composition">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>

    <div class="NewItemCard" >
        <div class="NewItemCard-header">
            <div class="Label">НОВИНКА</div>
            <div class="Label">ХИТ</div>
        </div>

        <div class="NewItemCard-footer">
            <div class="NewItemCard-name">
                Кольцо из белого золота с бриллиантами
            </div>

            <div class="NewItemCard-composition">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    </div>

</div>


</body>
</html>
