<!Doctype html>
<html lang="en">
    <meta  charset="UTF-8">
    <title>Круглая кнопка</title>
    <link rel="stylesheet" href="circle-button.css">
    <body>
        <div class="Circle-buttonOZ">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22.5" cy="22.5" r="22.5" fill="black"/>
            <path d="M22 15L15 22L22 29" stroke="white" stroke-width="2"/>
            <path d="M16 22H30" stroke="white" stroke-width="2"/>
            </svg>
        </div>
        <div class="Circle-buttonOZ">
            <a href="#" class="Btn Btn--Primary disabled">Ссылка</a>
        </div>
    </body>
</html>
