<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="new-item-card.css">
</head>
<body>

<div class="Content">
  <div class="Content-item">
    <div class="NewItemCard">
      <div class="NewItemCard-tagsBlock">
        <div class="Tag">Новинка</div>
        <div class="Tag">Хит</div>
      </div>

      <div class="NewItemCard-img">
        <img src="../../assets/earrings.png" alt="">
      </div>

      <div class="NewItemCard-titleBlock">
        <div class="TitleBlock-mainTitle">
          Кольцо из белого золота с бриллиантами
        </div>

        <div class="TitleBlock-subTitle">
          Состав: белое золото 585 пробы, бриллианты
        </div>
      </div>
    </div>
  </div>
  <div class="Content-item">
    <div class="NewItemCard">
      <div class="NewItemCard-tagsBlock">
        <div class="Tag">Новинка</div>
        <div class="Tag">Хит</div>
      </div>

      <div class="NewItemCard-img">
        <img src="../../assets/ring.png" alt="">
      </div>

      <div class="NewItemCard-titleBlock">
        <div class="TitleBlock-mainTitle">
          Кольцо из белого золота с бриллиантами
        </div>

        <div class="TitleBlock-subTitle">
          Состав: белое золото 585 пробы, бриллианты
        </div>
      </div>
    </div>
  </div>
  <div class="Content-item">
    <div class="NewItemCard">
      <div class="NewItemCard-tagsBlock">
        <div class="Tag">Новинка</div>
      </div>

      <div class="NewItemCard-img">
        <img src="../../assets/ring2.png" alt="">
      </div>

      <div class="NewItemCard-titleBlock">
        <div class="TitleBlock-mainTitle">
          Кольцо из белого золота с бриллиантами
        </div>

        <div class="TitleBlock-subTitle">
          Состав: белое золото 585 пробы, бриллианты
        </div>
      </div>
    </div>
  </div>
  <div class="Content-item">
    <div class="NewItemCard">
      <div class="NewItemCard-tagsBlock">
        <div class="Tag">Новинка</div>
        <div class="Tag">Хит</div>
      </div>

      <div class="NewItemCard-img">
        <img src="../../assets/earrings2.png" alt="">
      </div>

      <div class="NewItemCard-titleBlock">
        <div class="TitleBlock-mainTitle">
          Кольцо из белого золота с бриллиантами
        </div>

        <div class="TitleBlock-subTitle">
          Состав: белое золото 585 пробы, бриллианты
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
