<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Компоненты</title>
    <link rel="stylesheet" href="css/stylecss.css">

</head>
<body>
<h1>Кнопки</h1>

<button type="button" class="Btn btn--primary">Primary</button>
<button type="button" class="Btn btn--secondary">Secondary</button>
<button type="button" class="Btn btn--success">Success</button>
<button type="button" class="Btn btn--danger">Danger</button>
<button type="button" class="Btn btn--warning">Warning</button>
<button type="button" class="Btn btn--info">Info</button>
<button type="button" class="Btn btn--light">Light</button>
<button type="button" class="Btn btn--dark">Dark</button>
<button type="button" class="Btn btn--link">Link</button>

</body>
</html>