<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Компоненты</title>
    <link rel="stylesheet" href="css/stylecss.css">

</head>
<body>
<h1>Кнопки</h1>

<button type="button" class="Btn Btn--primary">Primary</button>
<button type="button" class="Btn Btn--secondary">Secondary</button>
<button type="button" class="Btn Btn--success">Success</button>
<button type="button" class="Btn Btn--danger">Danger</button>
<button type="button" class="Btn Btn--warning">Warning</button>
<button type="button" class="Btn Btn--info">Info</button>
<button type="button" class="Btn Btn--light">Light</button>
<button type="button" class="Btn Btn--dark">Dark</button>
<button type="button" class="Btn Btn--link">Link</button>

</body>
</html>