<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Компоненты</title>
    <link rel="stylesheet" href="css/stylecss.css">

</head>
<body>
    <div class="components">
        <div class="components_container">
            <div class="components_item">
                <h2 class="components_title">Кнопка</h2>
                <div class="components_body">

                </div>
            </div>
            <div class="components-item">
                <h2 class="components_title">Карточка</h2>
                <div class="components_body">

                </div>
            </div>
        </div>
    </div>
</body>
</html>