<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="partner-card.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script>
</head>
<body>

<style>
    .Content{
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 10px;
        border: 1px solid #d6d6d6;
    }

    .Content > * {
        margin: 10px;
    }
</style>

<div class="Content">
    <div class="PartnetCard">
        <svg-to-inline path="../../assets/svg/teles.svg" />
    </div>

    <div class="PartnetCard">
        <img src="../../assets/images/aqua.png" alt="">
    </div>
</div>


</body>
</html>
