<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>новинки</title>
    <link rel="stylesheet" href="new-item-card.css">
    <link rel="stylesheet" href="../label/label.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
<body>

    <style>
    .helper, .helper * {
        outline: 1px solid red;
    }
.Content{
    margin: 100px;
    }
    </style>
<div class="Content">
    
    <!--Карточка: Новинка хит 1-->
    <div class="NewItemCard helper">
        <div class="NewItemCard-lab">
            <div class="Lab">НОВИНКА</div>
            <div class="Lab">ХИТ</div>
        </div>
        <div class="NewItemCard-img">
            <img src="../../assets/news-card/PNG/New1.png" alt="New1">
        </div>
        <div class="NewItemCard-text">
            <div class="NewItemCard-textBig">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="NewItemCard-textSmall">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
    
    </div>

    <!--Карточка: Новинка хит 2-->
    <div class="NewItemCard">
        <div class="NewItemCard-lab ">
            <div class="Lab">НОВИНКА</div>
            <div class="Lab">ХИТ</div>
        </div>
        <div class="NewItemCard-img ">
            <img src="../../assets/news-card/PNG/New2.png" alt="New2">
        </div>
        <div class="NewItemCard-text">
            <div class="NewItemCard-textBig">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="NewItemCard-textSmall">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
        
    </div>

    <!--Карточка: Новинка хит 3-->
    <div class="NewItemCard">
        <div class="NewItemCard-lab">
            <div class="Lab">ХИТ</div>
        </div>
        <div class="NewItemCard-img">
            <img src="../../assets/news-card/PNG/New3.png" alt="New3">
        </div>
        <div class="NewItemCard-text">
            <div class="NewItemCard-textBig">
                Кольцо из белого золота с бриллиантами
            </div>
            <div class="NewItemCard-textSmall">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
        
    </div>

    <!--Карточка: Новинка хит 4-->
    <div class="NewItemCard">
        <div class="NewItemCard-lab">
            <div class="Lab">НОВИНКА</div>
            <div class="Lab">ХИТ</div>
        </div>
        <div class="NewItemCard-img">
            <img src="../../assets/news-card/PNG/New4.png" alt="New4">
        </div>
        <div class="NewItemCard-text">
            <div class="NewItemCard-textBig">
                Кольцо из белого золота с бриллиантами 
            </div>
            <div class="NewItemCard-textSmall">
                Состав: белое золото 585 пробы, бриллианты
            </div>
        </div>
        
    </div>
</div>
   
</body>
</html>
