$size: 350px;
$sizeLg: 710px;


.NewCard { /* блок для карточки*/
    height: $size;
    width: $size;
    background: white no-repeat top;
    display: inline-flex;
    
    &-textBox {  /* расположение текста в карточке*/
        display: inline-flex;
        flex-direction: column;
        justify-content: end;
        margin-bottom: 35px;
        
        &-data { /* текст-дата в карточке*/
            font: 500 12px/15px Inter, Arial;
            color: #000000;
        }
        &-text { /* текст в карточке*/
            font: 500 14px/140% Inter, Arial;
            color: #000000;
        }
    }
}

.NewCard--lg {
    height: $sizeLg;
    width: $sizeLg;
    border-radius: 10px;

    &-textBox {  /* расположение блок-текста в большой карточке*/
        margin-bottom: 0px;
        width: 100%;

        &-data { /* текст-дата в карточке*/
            font: 600 12px/15px Inter, Arial;
            color: #FFFFFF;
            padding: 7px 21px;
        }
        &-text { /* текст в карточке*/
            font: 500 18px/140% Inter, Arial;
            color: #FFFFFF;
            padding: 7px 21px 28px;    
        }
    }
}

