.NewItemCard {
    --bg-default: rgb(220, 220, 220);
    --height: 524px;
    --width: 390px;
}

.NewItemCard {
    background: var(--bg-default);
    border-radius: 10px;
    height: 524px;
    width: 390px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 10px;
    margin-top: 10px;
}

.NewItemCard {
    max-height: var(--height);
    max-width: var(--width);
}

.NewItemCard-Lab {
    margin-top: 35px;
    margin-left: 28px;
}

.NewItemCardImg {
    margin-top: 88px;
    margin-left: 90px;
}

.NewItemCard-text1 {
    font: 500 18px/1.5em Inter Arial;
    color: #000000;
    width: 255px;
    height: 36px;
    margin-top: 67px;
    margin-left: 28px;
}

.NewItemCard-text2 {
   font:400 12px/1.5em Inter Arial;
    color: #9A9A9A;
    margin-top: 15px;
    margin-left: 28px;
}

.Content {
    display: inline-flex;
}
