.NC {
    --bg-default: rgb(220, 220, 220);
    --height: 524px;
    --width: 390px;
}

.NC {
    background: var(--bg-default);
    border-radius: 10px;
    height: 524px;
    width: 390px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    margin: 3px;
}

.NC {
    max-height: var(--height);
    max-width: var(--width);
}