<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Команда</title>
    <link rel="stylesheet" href="./new-item-card.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
<body>

    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

    <!--Команда Сонит, большое фото5-->
    <div class="NewCard NewCard--lg" 
    style="background-image: linear-gradient(to top, rgb(100, 100, 100) 1%, transparent 20%), url(../../assets/new-item-card/PNG/item\ big.png);">
        <div class="NewCard-textBox NewCard--lg-textBox">
            <div class="NewCard--lg-textBox-data">04.03.2022</div>
            <div class="NewCard--lg-textBox-text">Девять причин посетить стенд «САНИС» на выставке JUNWEX Москва</div>
        </div>

    </div>

    <!--Команда Сонит фото1-->
    <div class="NewCard" style="background-image: url(../../assets/new-item-card/PNG/item1.png);">
        <div class="NewCard-textBox">
            <div class="NewCard-textBox-data">04.03.2022</div>
            <div class="NewCard-textBox-text">Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ</div>
        </div>

    </div>

    <!--Команда Сонит фото2-->
    <div class="NewCard" style="background-image: url(../../assets/new-item-card/PNG/item2.png);">
        <div class="NewCard-textBox">
            <div class="NewCard-textBox-data">04.03.2022</div>
            <div class="NewCard-textBox-text">Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ</div>
        </div>

    </div>
    
    <!--Команда Сонит фото3-->
    <div class="NewCard" style="background-image: url(../../assets/new-item-card/PNG/item3.png);">
        <div class="NewCard-textBox">
            <div class="NewCard-textBox-data">04.03.2022</div>
            <div class="NewCard-textBox-text">Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ</div>
        </div>

    </div>

    <!--Команда Сонит фото4-->
    <div class="NewCard" style="background-image: url(../../assets/new-item-card/PNG/item4.png);">
        <div class="NewCard-textBox">
            <div class="NewCard-textBox-data">04.03.2022</div>
            <div class="NewCard-textBox-text">Приглашаем вас в наш конференц-зал на выставке JUNWEХ ПЕТЕРБУРГ</div>
        </div>

    </div>

</body>
</html>