<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Карточки для каталога</title>
    <link rel="stylesheet" href="catalog-card.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
<body>

    <!--Карточка для каталога "религия"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Религия.png" alt="Религия">
    </div>

    <!--Карточка для каталога "из дерева"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Из дерева.png" alt="Из дерева">
    </div>

    <!--Карточка для каталога "коллекции"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Коллекции.png" alt="коллекции">
    </div>

    <!--Карточка для каталога "броши"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Броши.png" alt="броши">
    </div>

    <!--Карточка для каталога "пирсинг"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Пирсинг.png" alt="пирсинг">
    </div>

    <!--Карточка для каталога "подарки"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Подарки.png" alt="подарки">
    </div>

    <!--Карточка для каталога "подвески"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Подвески.png" alt="подвески">
    </div>

    <!--Карточка для каталога "браслеты"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Браслеты.png" alt="браслеты">
    </div>

    <!--Карточка для каталога "колца"-->
    <div class="CC">       
        <img src="../../assets/catalog-card/PNG/Колца.png" alt="колца">
    </div>

    <!--Карточка для каталога "колье"-->
    <div class="CC CC--kol">       
        <img src="../../assets/catalog-card/PNG/Колье.png" alt="колье">
    </div>

        <!--Карточка для каталога "запонки"-->
        <div class="CC CC--zap">       
            <img src="../../assets/catalog-card/PNG/Запонки.png" alt="запонки">
        </div>

</body>
</html>