<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Лэйбл Сонит</title>
    <link rel="stylesheet" href="label.css">
    <script src="/node_modules/svg-to-inline/dist/svg-to-inline.js"></script> 
<body>

    <!--Лэйбл ХИТ-->
    <div class="Lab">       
        ХИТ
    </div>

    <!--Лэйбл Новинка-->
    <div class="Lab Lab--new">       
        НОВИНКА
    </div>

    <!--Лэйбл Все-->
    <div class="Lab Lab--Vse">       
        Все
    </div>

    <!--Лэйбл Перчатки-->
    <div class="Lab Lab--Per">       
        Перчатки
    </div>

    <!--Лэйбл На цепочке-->
    <div class="Lab Lab--Cep">       
        На цепочке
    </div>

    <!--Лэйбл На нитке-->
    <div class="Lab Lab--Nitka">       
        На нитке
    </div>

    <!--Лэйбл Из звеньев-->
    <div class="Lab Lab--Zven">       
        Из звеньев
    </div>

    <!--Лэйбл Литьевые-->
    <div class="Lab Lab--Lit">       
        Литьевые
    </div>

    <!--Лэйбл Штампованные-->
    <div class="Lab Lab--Sht">       
        Штампованные
    </div>

    <!--Лэйбл Ролексы-->
    <div class="Lab Lab--Rol">       
        Ролексы
    </div>

    <!--Лэйбл Христианские-->
    <div class="Lab Lab--Hr">       
        Христианские
    </div>

    <!--Лэйбл Мусульманские-->
    <div class="Lab Lab--Ms">       
        Мусульманские
    </div>

    <!--Лэйбл Серьги-->
    <div class="Lab Lab--Serg">       
        Серьги
    </div>

    <!--Лэйбл Кресты-->
    <div class="Lab Lab--Kres">       
        Кресты
    </div>

    <!--Лэйбл Подвески-->
    <div class="Lab Lab--Podv">       
        Подвески
    </div>

    <!--Лэйбл Запонки-->
    <div class="Lab Lab--Zap">       
        Запонки
    </div>

</body>
</html>