
.HeaderTop{
    background: black;
    color: #FFFFFF;
    font: 600 11px/14px Inter, Arial;
    width: 1920px;
    height: 35px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        &-map{
            margin-left: 52px;
            padding: 4px 11px;
        }
        &-nav{
            margin-left: 112px;
            padding: 4px 11px;
        }
    &-middle{
        margin-right: 500px;
    }
    &-right{
        margin-right: 54px;
        font: 600 13px/16px Inter, Arial;
    }
}

.MapBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    
    &-icon{}
    &-text{}
}

.NavBlock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 372px;

    &-link{}
}