<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header-top</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header-top.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    
</head>
     
<body>

    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }

.Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Headerp-top{
    background: #000;
}

.Box{
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto; 
}

.HeaderTop{
    border: 1px solid green;
}

.HeaderMiddle{
    border: 1px solid yellow;
}

.HeaderBottom{
    border: 1px solid blue;
}
    </style>

<div class="Header">
    <div class="Headerp-top">
        <div class="HeaderTop Box">
            HeaderTop
        </div>
    </div>

    <div class="Box">
        <div class="Headerp-middle">
            <div class="HeaderMiddle">
                HeaderMiddle
            </div>
        </div>
        <div class="Headerp-bottom">
            <div class="HeaderBottom">
                HeaderBottom
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="helper HeaderTop">
    <div class="HeaderTop-left">
        <div class="HeaderTop-map">
            <div class="MapBlock">
                <div class="MapBlock-icon">
                    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 4.16406C8 1.9574 6.20667 0.164062 4 0.164062C1.79333 0.164062 0 1.9574 0 4.16406C0 7.16406 4 11.4974 4 11.4974C4 11.4974 8 7.16406 8 4.16406Z" fill="#F9C859"/>
                        <circle cx="3.99888" cy="4.17466" r="1.65513" fill="black"/>
                    </svg> 
                </div>
                <div class="MapBlock-text">Санкт-Петербург</div>
            </div>
        </div>

        <div class="HeaderTop-nav">
            <div class="NavBlock">
                <div class="NavBlock-link">О компании</div>
                <div class="NavBlock-link">Партнерам</div>
                <div class="NavBlock-link">Адреса</div>
                <div class="NavBlock-link">Новости</div>
            </div>

        </div>
    </div>

    <div class="HeaderTop-middle">ОПТОВЫЙ ИНТЕРНЕТ-МАГАЗИН ЮВЕЛИРНЫХ УКРАШЕНИЙ</div>
    
    <div class="HeaderTop-right">+7 (812) 363-47-44</div>
</div> -->

</body>

</html>