<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page7</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page7.css">
    <link rel="stylesheet" href="../label/label.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page7 Wrapper">
    <div  class="Page7-box">
        <div  class="Page7-text">
            Скидки до 20% на<br>
            украшения из красного<br>
            золота
        </div>
        
    </div> 
  
</div>

</body>

</html>