.Lab {
    background: black;
    color: white;
    border-radius: 3px;
    font: 600 12px/18px Arial;
    display: inline-block;
    padding: 4px 11px;
    text-transform: uppercase;
    margin: 3px;
}