<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Лэйбл Сонит</title>
    <link rel="stylesheet" href="label.css">
<body>

    <!--Лэйбл ХИТ-->
    <div class="Lab">       
        ХИТ
    </div>

    <!--Лэйбл Новинка-->
    <div class="Lab">       
        НОВИНКА
    </div>

    <!--Лэйбл Все-->
    <div class="Lab">       
        Все
    </div>

    <!--Лэйбл Перчатки-->
    <div class="Lab">       
        Перчатки
    </div>

    <!--Лэйбл На цепочке-->
    <div class="Lab">       
        На цепочке
    </div>

    <!--Лэйбл На нитке-->
    <div class="Lab">       
        На нитке
    </div>

    <!--Лэйбл Из звеньев-->
    <div class="Lab">       
        Из звеньев
    </div>

    <!--Лэйбл Литьевые-->
    <div class="Lab">       
        Литьевые
    </div>

    <!--Лэйбл Штампованные-->
    <div class="Lab">       
        Штампованные
    </div>

    <!--Лэйбл Ролексы-->
    <div class="Lab">       
        Ролексы
    </div>

    <!--Лэйбл Христианские-->
    <div class="Lab">       
        Христианские
    </div>

    <!--Лэйбл Мусульманские-->
    <div class="Lab">       
        Мусульманские
    </div>

    <!--Лэйбл Серьги-->
    <div class="Lab">       
        Серьги
    </div>

    <!--Лэйбл Кресты-->
    <div class="Lab">       
        Кресты
    </div>

    <!--Лэйбл Подвески-->
    <div class="Lab">       
        Подвески
    </div>

    <!--Лэйбл Запонки-->
    <div class="Lab">       
        Запонки
    </div>

</body>
</html>