@import "../new-item-card/new-item-card"; 

$gap: 10px;
$pad: 20px;

@function grid-width($nColumn) {
    @return $pad * 2 + $gap * ($nColumn - 1) + $size * $nColumn;
  }

.Content {
    padding: $pad;
    display: inline-flex;
    justify-content: center;
}

.NewCatalogBlock {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap;
    grid-auto-flow: row dense;
}

@for $i from 2 through 4 {
    @media screen and (min-width: grid-width($i) ) {
    grid-template-columns: repeat($i, 1fr)
    }
}


.NewCatalogCard {
    grid-row: span 1;
    grid-column: span 1;

    &--lg {
        grid-row: span 2;
        grid-column: span 2;

    }
}
