<!Doctype html>
<html lang="en">
    <meta  charset="UTF-8">
    <title>Круглая кнопка</title>
    <link rel="stylesheet" href="circle-button.css">
    <body>
        <div class="CircleBtn">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22.5" cy="22.5" r="22.5" fill="black"/>
            <path d="M22 15L15 22L22 29" stroke="white" stroke-width="2"/>
            <path d="M16 22H30" stroke="white" stroke-width="2"/>
            </svg>
        </div>
        <div class="CircleBtn">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle r="22.5" transform="matrix(-1 0 0 1 22.5 22.5)" fill="black"/>
            <path d="M23 16L30 23L23 30" stroke="white" stroke-width="2"/>
            <path d="M29 23H15" stroke="white" stroke-width="2"/>
            </svg>
        </div>
        <div class="CircleBtn">
            <img src="../../assets/circle-button/PNG/Black_arrow_left.png" alt="чёрная стрелка">
        </div>
        <div class="CircleBtn">
            <img src="../../assets/circle-button/PNG/Black_arrow_right.png" alt="чёрная стрелка">
        </div>
        <div class="CircleBtn">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22.5" cy="22.5" r="22.5" fill="white"/>
            <path d="M22 15L15 22L22 29" stroke="black" stroke-width="2"/>
            <path d="M16 22H30" stroke="black" stroke-width="2"/>
            </svg>
        </div>
        <div class="CircleBtn CircleBtn--rotate">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22.5" cy="22.5" r="22.5" fill="white"/>
            <path d="M22 15L15 22L22 29" stroke="black" stroke-width="2"/>
            <path d="M16 22H30" stroke="black" stroke-width="2"/>
            </svg>
        </div>

    </body>
</html>
