.Circle-buttonOZ {
    --size: 85px;
}

.Circle-buttonOZ {
    background: rgb(224, 224, 224);
    height: var(--size);
    width: var(--size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
}

.Circle-buttonOZ > * {
    max-height: var(--size);
    max-width: var(--size);
}

.Circle-buttonOZ--rotate {
    transform: rotate(180deg);
}
