<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoxMenuMap</title>
    <link rel="stylesheet" href="menuMap.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>

<style>
    .helper, .helper * {
        outline: 1px solid red;
    }

</style>

<body>

<div class="BoxMenuMap">
    <div class="Dropdown helper">
        <div class="Dropdown-btn">
            <div class="BtnMenuMap">
                Санкт-Петербург
            </div>
        </div>
        <div class="Dropdown-content">
            <div class="List">
                <div class="List-item">Проспект Коломяжский, д.15, корп.2</div>
                <div class="List-item">Проспект Наставников, д.19, стр 9</div>
                <div class="List-item">Проспект Московский, д.94, стр.лит 4</div>
                <div class="List-item">Проспект Наставников, д.33, стр 4</div>
                <div class="List-item">Проспект Ленинский, д.130/6</div>
                <div class="List-item">Проспект Коломяжский, д.15, корп.2</div>
                <div class="List-item">Ул. Фурштатская, д.40, стр 5</div>
                <div class="List-item">Проспект Наставников, д.33, стр 4</div>
            </div>
            
        </div>

    </div>

</div>

</body>

</html>