<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header-top</title>
    <link rel="stylesheet" href="header-body.css">
    <link rel="stylesheet" href="../iconOZ/iconOZ.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Conteiner">
    <div class="Conteiner-left"></div>

    <div class="Conteiner-center"> <!--Логотип Sanis по центру-->
        <img src="../../assets/icon/PNG/Sanis.png" alt="Sanis"> 

    </div>
    
    <div class="Conteiner-right">
            <!--Иконка Человечек-->
        <div class="Conteiner-right-man">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="9" cy="5" r="4.5" stroke="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4914 19C16.2559 15.5044 12.9222 13 9.00351 13C5.08485 13 1.75113 15.5044 0.515625 19H1.58502C2.7718 16.0682 5.64613 14 9.00351 14C12.3609 14 15.2352 16.0682 16.422 19H17.4914Z" fill="#111111"/>
            </svg>

        </div>

        <!--Иконка Лупа-->
        <div class="Conteiner-right-lop">
            <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8.5" cy="8.5" r="8" stroke="black"/>
            <path d="M14 14.5L18.5 19" stroke="black"/>
            </svg>

        </div>

        <!--Иконка Сумка-->
        <div class="">
            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="5.5" width="17" height="16" rx="1.5" stroke="black"/>
            <path d="M5.00244 9C5.00244 6.09184 4.76415 1 8.99885 1C13.0054 1 12.9976 6.33162 13 8.99743" stroke="black" stroke-linecap="round"/>
            <circle cx="5" cy="10" r="1" fill="black"/>
            <circle cx="13" cy="10" r="1" fill="black"/>
            </svg>

        </div>

    </div>

</div>

</body>

</html>