<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="page3.css">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
</head>
     
<body>
    <style>
        .helper, .helper * {
            outline: 1px solid red;
        }
    </style>

<div class="Page3">
    <div class="PageText">
        С НАМИ СОТРУДНИЧАЮТ
    </div>

    <div class="Line">
        <div class="Line-bottom">_________</div>
    </div>

    <div class="PageCard">
        <div>
            <img src="../../assets/circle-button/PNG/WarrowLeft.png" alt="Стрелка влево">
        </div>     
        
        <div class="PartCard"> 
            <img src="../../assets/partner-card/PNG/Poryvay.png" alt="Poryvay">
        </div>
    
        <div class="PartCard">  
            <img src="../../assets/partner-card/PNG/Золотой телец.png" alt="Золотой телец">
        </div>
    
        <div class="PartCard">  
            <img src="../../assets/partner-card/PNG/Аквамарин.png" alt="Аквамарин">
        </div>
    
        <div class="PartCard">  
            <img src="../../assets/partner-card/PNG/Сердолик+.png" alt="Сердолик">
        </div> 
    
        <div class="PartCard"> 
            <img src="../../assets/partner-card/PNG/Унция.png" alt="Унция">
        </div>

        <div>
            <img src="../../assets/circle-button/PNG/WarrowRight.png" alt="Стрелка вправо">
        </div>  

    </div>
   
</div>

</body>

</html>