<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./icon.css">
</head>
<body>

<div style="display:flex;">
    <div class="Icon">
        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="5.5" width="17" height="16" rx="1.5" stroke="black"/>
            <path d="M5.00244 9C5.00244 6.09184 4.76415 1 8.99885 1C13.0054 1 12.9976 6.33162 13 8.99743" stroke="black" stroke-linecap="round"/>
            <circle cx="5" cy="10" r="1" fill="black"/>
            <circle cx="13" cy="10" r="1" fill="black"/>
        </svg>
    </div>

    <div class="Icon">
        <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8.5" cy="8.5" r="8" stroke="black"/>
            <path d="M14 14.5L18.5 19" stroke="black"/>
        </svg>
    </div>

    <div class="Icon">
        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 4.16406C8 1.9574 6.20667 0.164062 4 0.164062C1.79333 0.164062 0 1.9574 0 4.16406C0 7.16406 4 11.4974 4 11.4974C4 11.4974 8 7.16406 8 4.16406Z" fill="#F9C859"/>
        </svg>

    </div>
</div>

</body>
</html>
